@media (max-width: 1150px ){
    .menu{
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        background: #1c1c1cb0;
        width: 100%;
        height: 100vh;
        left: 0;
        top: 0;
    }
    .mobile-menu{
        z-index: 10;
        position: relative;
        content:"";
        width: 24px;
        height: 24px;
        align-items: center;
    }


    .mobile-menu span{
        display: block;
        width: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        position: absolute;
        height: 2px;
        background-color: #fff;
        
    }
    .mobile-menu::before{
        content:"";
        top: 0px;
        right: 0px;
        position: absolute;
        display: block;
        width: 24px;
        height: 2px;
        background-color: #fff;
        transition: 0.7s;
        
    }
    .mobile-menu::after{
        content:"";
        bottom:0px;
        right: 0px;
        position: absolute;
        display: block;
        width: 16px;
        height: 2px;
        background-color: #fff;
        transition: 0.7s;
    }

    .mobile-menu.active::before{
        transform: rotate(-45deg);
        top: 50%;
        width: 100%;
        transition: 0.7s;
    }
    .mobile-menu.active::after{
        transform: rotate(45deg);
        top: 50%;
        width: 100%;
        transition: 0.7s;
    }
    .mobile-menu.active span{
        background-color: #ffffff00;
    }
    .menu__list{
        flex-direction: column;
        height: 60%;
    }
    .menu__list-item {
        font-size: 15px;
        padding: 25px;
    }
    .header__phone{
        display: none;
    }
    .menu{
        display: none;
    }
    .mobile-menu{
        display: block;
    }
    .top__inner img{
        width: 70%;
    }
    .header__btn{
        margin: 0;
    }
    .logo_2 img {
        margin-right: 0px;
    }
    .about__text{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }

    .slick-slider::before{
        display: none;
    }
    .about__text-slider{
        padding: 0;
        margin-top: 0;
    }

    .about__text-desc{
        width: 80%;
        text-align: center;
        margin-left: 0;
        height: auto;
        margin-bottom: 30px;
    }
    .about__text-best {
        display: none;
    }


}
@media (max-width: 1027px ){
    .specification__item{
        text-align: center;
      
    }
    .specification__item img{
        min-width: 80%;
    }
    .specification__box {
        margin: 140px 0 60px 0;
    }
}
@media (max-width: 1000px ){
    
    
}
@media (max-width: 660px ) {
    .benefits__container {
        margin: 40px 0 40px 0px;
    }
}
@media (max-width: 600px ) {
    .benefits__container {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        margin: 20px 0 40px 0px
    }
    .benefits__number{
        margin: 10px 0;
    }
    .benefits__subtitle{
        text-align: center;
    }
    .benefits__about-text{
        margin: 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .benefits__text{
        text-align: center;
    }
    .main__subtitle h3{
        text-align: center;
    }
}
@media (max-width: 562px ){
.top__title{
    font-size: 86px;
}
    .about__text-subtitle{
        font-size: 36px;
    }
    .slick-list{
        width: 500px;
    }
    .about__text-best h5{
        display: none;
    }

    .button__slider{
        margin-top: 10px;
    }
    .slick-list {
        height: auto;
    }
}
@media (max-width: 520px){
    .slick-list{
        width: 450px;
    }
    .top__title {
        font-size: 82px;
    }
    
}
@media(max-width: 500px){
    .slick-list{
        width: 420px;
    }
}

@media (max-width: 490px ){
    .top__title{
        font-size: 66px;
    }
}
@media (max-width: 445px){
    .slick-list{
        width: 370px;
    }
}
@media (max-width: 430px ){
    .top__title {
        font-size: 62px;
    }
    .main__subtitle h3{
        font-size: 40px;
    }
    .benefits__number {
        font-size: 28px;
    }
    
}


@media (max-width: 390px ){
    .top__title{
        font-size: 46px;
    }
    .slick-list{
        width: 350px;
    }
}

@media (max-width: 370px ){
    .slick-list{
        width: 330px;
    }
}

@media (max-width: 350px ){
    .slick-list{
        width: 310px;
    }
    .top__icon-media{
        margin: 20px;
    }
    .main__subtitle h3{
        font-size: 36px;
    }
}

@media (max-width: 330px ){
    .slick-list{
        width: 290px;
    }
}