body{
    font-family: 'SF Pro Display';
}
a{
    text-decoration: none;
}
.container{
    width: 90%;
    margin: 0 auto;
}
.header__btn{
    border: 1px solid #FFFFFF;
    background: transparent;
    font-weight: 500;
    font-size: 15px;
    color: #FFFFFF;
    padding: 7px 28px;
    border-radius: 3px;
    margin-right: 10px;

    transition: 0.4s;
}
.header-fixed{
    background-color: rgba(50, 45, 48, 0.8);
}
.header__btn:hover {
    background-color: #fff;
    color: black;
}
/* Добавил тебе анимацию кнопки */

.logo__img{
    width: auto;
    height: 27px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo__img img{
    margin-right: 10px;
}
.header__inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu__list{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__list-link{
    font-size: 15px;
    color: #FFFFFF;
}
.header{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 80px;
    z-index: 999;
}
.header__phone{
font-weight: bold;
font-size: 16px;
color: #FFFFFF;

}
.page-top {
    background-image: url(../images/bg.png);
    height: 768px;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}
.menu__list-item {
    padding: 5px 10px;
}
.header__info{
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-top {
    display: flex;
    justify-content: center;
    align-items: center;
}
.top__inner{
    padding-top: 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    height: 100%;
}
.top__title{
font-family: SF Pro Display;
font-weight: 600;
font-size: 96px;
line-height: 115px;
color: #FFFFFF;
}
.top__text{
font-weight: 300;
font-size: 17px;
text-align: center;
color: #FFFFFF;
}
.top__icon-media{
    margin: 25px;
    display: inline-block;
    opacity: 0.5;
    transition: 0.5s;
}
.top__icon-media:hover{
    opacity: 1;
}